table.hand-written {
  font-family: "Lucida Console", Monaco, monospace;
  color: #714f15;
  margin-top: 2em;
  margin-bottom: 2em;
}

pre {
  font-family: monospace;
  font-size: 14pt;
  display: block;
  white-space: pre;
  border: none;
  background: white;
}

hr {
  border-color: #DDD;
}

sup {
  opacity: 0.8;
}

dt {
  margin-top: 0.75em;
}

dd {
  margin-left: 1em;
}
