body {
  font-family: corbel, 'lucida grande', helvetica, sans-serif;
  font-weight: normal;
  font-size: 14pt;
}

.navbar-header {
  min-height: 90px;
}

.navbar-brand > img {
  height: 60px;
}

.navbar-right > .navbar-right {
  margin-right: -15px;
}

ul.navbar-nav a {
  margin-left: 1em;
  margin-right: 0;
  padding-top: 5px;
  padding-right: 0;

}

ul.contact-buttons{
  list-style: none;
  margin-top: 10px;
  margin-left: 1em;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

ul.contact-buttons li {
  display: inline;
}

ul.contact-buttons li a {
  padding-left: 5px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 5px;
  margin: 0;
}

/*
ul.contact-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
*/

ul.contact-buttons img{
  width: 32px;
}

.margin-buffer { margin-bottom: 30px; }

.post-box-outer {
  padding: 1em;
  color: black;
}

.post-box-0, .post-box-1, .post-box-2, .post-box-3, .post-box-4, .post-box-5 {
  padding: 1em;
  border-radius: 30px;
}

.post-box-0 a { color: black; }
.post-box-1 a { color: black; }
.post-box-2 a { color: black; }
.post-box-3 a { color: black; }
.post-box-4 a { color: black; }
.post-box-5 a { color: black; }

.post-box-0 a:hover { text-decoration: none; }
.post-box-1 a:hover { text-decoration: none; }
.post-box-2 a:hover { text-decoration: none; }
.post-box-3 a:hover { text-decoration: none; }
.post-box-4 a:hover { text-decoration: none; }
.post-box-5 a:hover { text-decoration: none; }

.post-box-0 {
  background-color: #F0AD4E90;
  border: 4px solid #FD940090;
}
.post-box-1 {
  background-color: #5BC0DE90;
  border: 4px solid #00AADC90;
}
.post-box-2 {
  background-color: #D9534F90;
  border: 4px solid #D4140F90;
}
.post-box-3 {
  background-color: #D9534F90;
  border: 4px solid #D4140F90;
}
.post-box-4 {
  background-color: #F0AD4E90;
  border: 4px solid #FD940090;
}
.post-box-5 {
  background-color: #5BC0DE90;
  border: 4px solid #00AADC90;
}

ul.posts {
  padding: 0;
  margin: 0;
  list-style: none;
}

header a h1 {
  color: black;
}

p#rss-subscribe {
  margin-top: 2em;
}

div#related {
  margin-top: 2em;
}

div#related ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 130%;
}

div#related ul li {
  padding-bottom: 1em;
  line-height: 1.3;
}

div#taggedArticles ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div#taggedArticles ul li {
  padding-bottom: 1em;
  line-height: 1.3;
}

table.hand-written {
  font-family: "Lucida Console", Monaco, monospace;
  color: #714f15;
  margin-top: 2em;
  margin-bottom: 2em;
}

hr {
  border-color: #DDD;
}

sup {
  opacity: 0.8;
}

dt {
  margin-top: 0.75em;
}

dd {
  margin-left: 1em;
}

div#cclicence {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  padding-top: 1em;
  padding-bottom: 1em;
}

form#email-subscribe {
  border:1px solid #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  text-align:center;
}

/* Simple Sharing Buttons
   https://simplesharingbuttons.com */
div.share-box {
  border: 1px #c5c5c5 solid;
  padding: 6px;
  margin-bottom: 10px;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul.share-buttons img{
  width: 32px;
}
